@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300;400;500;600;700&display=swap');
@secondary-font: 'Caveat', cursive;
@text-font: 'Caveat', cursive;
@primary-color: #4F59C7;
@grey-color: #e7e7e7;
@dark-grey-color: #bebebe;
@alert-color: #9ead2a;
@expared-color: rgb(249, 32, 32);
*{
    margin: 0;
    padding: 0;
}
p {
    font-size: 24px;
    //font-family: @text-font;
}
.todo-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:350px;
    padding: 10px 10px;
    color:#000;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 15px;
    &.completed {
        text-decoration: line-through;
	    background-color: @grey-color;
    }
    &.over-deadline {
        background-color: @expared-color;
        color:#FFFFFF;
    }
    &.near-deadline {
        background-color: @alert-color;
        color:#FFFFFF;
    }
    .text-conteiner {
        width: 250px;
        text-align: left;
        .todo-title {
            font-family: @secondary-font;
            line-height: 1;
            margin-bottom: 10px;
        }
        .todo-description {
            font-family: 'Raleway', sans-serif ;
            font-size: 14px;
            
            height: 38px;
            overflow: hidden;
        }
    }
    
    
}
.btn {
    
    mix-blend-mode: darken;
    width: 35px;
    height: 35px;
    background-color: @grey-color;
    border-radius: 5px;
    font-size: 30px;
    padding: 2px 10px;
    line-height: 1;
    border: none;
    margin: 5px;
    cursor: pointer;

    
}
.btn-add {
    background-color: @primary-color;
    color: #FFFFFF;
    font-size: 30px;
    mix-blend-mode: normal;
    &:hover {
        background-color: @grey-color;
        color:@primary-color
    }
    
}

.btn-delete {
    background-image: url('../icons/trash-fill.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
        background-color: @dark-grey-color;
    }
 
}
.btn-check {
    background-image: url('../icons/check_white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    &:hover {
        //background-image: url('../icons/check-square-fill\ 1.svg');
        background-color: @primary-color;
    }
    &.checked {
        background-color: @primary-color;
    }
}